.about-me-banner {
    background-image: url('../images/sergey-zolkin-_UeY8aTI6d0-unsplash.jpg');
    width: 100vw;
    height: 60vh;
    background-size:cover;
}

.banner-content {
    display: flex;
    justify-content: center;
    height: 60vh;
    width:100%;
}
@media only screen and (min-width: 45em) {
    .banner-content {
        width: 70%;
    }
}
.hover:hover {
    cursor: pointer;
    & .card-body {
        background-color: #000;
        color: #fff;
    }
}
.margin-2 {
    margin: 0 2%;
}
.contact {
    height: 100vh;
}
.bg-med-gray {
    // background-color: #454545;
}